:root {
	--main-bg-color: #23395d;
	--main-txt-color: blue;
	--white: #fff;
	--main-padding: 15px;
}
body {
	overflow-x: hidden;
	font-family: 'Nunito', sans-serif;
	color: #505962;
}

/* navigation */

.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: 0.1rem;
}

.nav-transparent {
	background: rgba(0, 0, 0, 0.18) !important;
	transition: 2s;
}

.nav-colored {
	background: var(--main-bg-color) !important;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: 0.1rem;
	transition: 2s;
}

.navbar-brand {
	font-size: 2rem;
}
p {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

.navbar-nav li {
	padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-top: 0.8rem;
	font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #5ef4da;
}

/* landing page */
.landing {
	padding-top: 0px;
}

.btn-blue {
	background: #fff;
	color: #000;
	border: 1px solid #000;
}

.btn-blue:hover {
	background: var(--main-bg-color);
	color: #fff;
	border: 1px solid var(--main-bg-color);
}

.home-inner .caption {
	padding: 200px 0;
	color: #000;
}

.home-inner .caption h1 {
	font-size: 70px;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: 0.1rem 0.1rem 0.8rem black;
	padding-bottom: 1rem;
}

.heading h1 {
	font-weight: 700;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-top: 40px;
	margin-bottom: 30px;
}

#why-section {
	margin: 140px 0 100px;
	min-height: 75vh;
}

.why_section_details {
	margin: 100px 0;
}

#why-section h3 {
	font-weight: 800;
}

#why-section i {
	color: var(--main-bg-color);
	margin-bottom: 10px;
}
/* about */
#about {
	margin: 120px 0;
	min-height: 75vh;
}

#how {
	margin-top: 100px;
	background: url('../img/downloads-bg.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	min-height: 65vh;
	color: #fff;
	padding: 60px 0;
	text-align: center;
}

.how_details {
	margin: 80px 0;
}

.carousel {
	height: 100vh;
}
.carousel img {
	height: 100vh;
	width: 100%;
}

/* footer */

footer {
	background: var(--main-bg-color);
	color: #fff;
	min-height: 91vh;
	padding: 150px 0 10px;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
}

.contact-info {
	list-style: none;
	padding: 0px;
}

footer hr {
	background: #fff;
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-layer {
	display: flex;
	flex-flow: wrap column;
	align-items: space-between;
	justify-content: space-between;
}

.contact-info i {
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 42px;
	margin: 10px 8px;
	vertical-align: middle;
	border: 2px solid #ffe484;
	padding: 0px 4px;
}

.contact-info div {
	display: flex;
}

.contact-info p span {
	display: block;
	font-weight: normal;
	font-size: 16px;
	line-height: 2;
}

.contact-info p {
	font-size: 18px;
}

.quick-links a {
	text-decoration: none;
	color: #fff !important;
	cursor: pointer;
	font-size: 16px;
}

.quick-links a:before {
	font-family: "Font Awesome 5 Free";
	left: 0;
	font-size: 15px;
	color: #fff;
	content: "\f04";
	font-weight: bold;
	padding-right: 11px;
}

/* about */

#about-section {
	padding: 100px 0 50px;
	min-height: 90vh;
}
.heading-container {
	background: linear-gradient(45deg, #000000c7, #00000094), url('../img/bitcoin2.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 50px;
	min-height: 250px;
}

.heading-container h1 {
	padding: 30px 0;
	text-align: center;
	font-size: 70px;
	font-weight: 900;
	color: #fff;
}

#aim {
	margin: 20px 0;
}

/* plan */

#intro {
	margin: 60px 0;
}

#plan {
	margin: 60px 0;
}

#login {
	margin: 150px 0 100px 0;
}

.authPage {
	background: linear-gradient(45deg, #000000c7, #00000094), url('../img/auth.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.form-container {
	margin: auto;
}

.form-container form {
	background: var(--white);
	padding: 30px;
}

.form-container form a {
	color: var(--main-txt-color);
	text-decoration: none;
}

.form-container form a:hover {
	color: var(--main-bg-color);
}

.form-container h3 i {
	color: var(--main-bg-color);
}

.text-container {
	background: var(--main-bg-color);
	color: #fff;
	padding: 6px;
	margin: 20px 0;
}

.text-container h3 {
	font-size: 16px;
	font-weight: 900;
}

/* signup */

/* Hide all steps by default: */
.tab {
	display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgb(172, 167, 167);
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

/* Mark the active step: */
.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #4caf50;
}

.profile-img {
	text-align: center;
}
.profile-img img {
	width: 70%;
	height: 100%;
}
.profile-img .file {
	position: relative;
	overflow: hidden;
	margin-top: -20%;
	width: 70%;
	border: none;
	border-radius: 0;
	font-size: 15px;
	background: #212529b8;
}
.profile-img .file input {
	position: absolute;
	opacity: 0;
	right: 0;
	top: 0;
}
